In [2]:
import pandas as pd
import numpy as np
import matplotlib 
import seaborn as sns

import plotly.express as px

In [3]:
df = pd.read_csv("./data/test.csv", header=0)

## Basic data summary and description

In [4]:
df

     elevation  longitude  latitude
0         85.5    -80.120     0.000
1          0.0    -80.120     0.045
2          0.0    -80.120     0.090
3          0.0    -80.120     0.135
4          0.0    -80.120     0.180
..         ...        ...       ...
395      180.0    -79.265     0.675
396      165.0    -79.265     0.720
397      190.0    -79.265     0.765
398      202.0    -79.265     0.810
399      168.5    -79.265     0.855

[400 rows x 3 columns]

In [5]:
df.describe()

       elevation   longitude    latitude
count  400.00000  400.000000  400.000000
mean   156.93000  -79.692500    0.427500
std    110.96266    0.259808    0.259808
min      0.00000  -80.120000    0.000000
25%     81.75000  -79.906250    0.213750
50%    143.00000  -79.692500    0.427500
75%    224.25000  -79.478750    0.641250
max    546.50000  -79.265000    0.855000

In [22]:
a = df['elevation'].to_numpy()
a = a.reshape(20,20)
newDF = pd.DataFrame(data=a, index=df['latitude'].unique(), columns=df['longitude'].unique())

In [23]:
newDF.head()

,-80.120,-80.075,-80.030,-79.985,-79.940,-79.895,-79.850,-79.805,-79.760,-79.715,-79.670,-79.625,-79.580,-79.535,-79.490,-79.445,-79.400,-79.355,-79.310,-79.265
0.000,85.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0.045,160.5,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,82.0,143.0,123.0,0.0,0.0
0.090,254.5,59.0,21.0,14.0,11.0,4.0,5.0,4.0,2.0,1.0,5.0,39.0,0.0,1.0,35.5,115.0,155.0,183.0,34.0,0.0
0.135,161.0,97.0,111.0,8.0,3.0,1.0,0.0,3.0,3.0,24.0,74.5,81.0,6.5,17.0,44.5,85.0,135.0,135.0,41.0,0.0
0.180,140.0,252.0,123.0,117.0,11.0,2.0,5.0,37.0,52.0,82.0,71.0,59.0,45.0,35.0,56.0,78.5,106.0,81.0,36.0,0.0

In [7]:
df['elevation'].describe()

count    400.00000
mean     156.93000
std      110.96266
min        0.00000
25%       81.75000
50%      143.00000
75%      224.25000
max      546.50000
Name: elevation, dtype: float64

## Print out all Longitudes with an altitude above 2000m

### Idea 1: Loop through all of the rows and print out the longitude if it is above te threshold

In [8]:
for index, row in df.iterrows():
    if row[1] > 2000:
        print(index, row[0])

### Idea 2: Create a new variable, use "loc" with a parameter to copy only the proper values, print out the longitudes from the new variable

In [9]:
above_2000 = df.loc[df['elevation']> 2000]
above_2000['longitude']

Series([], Name: longitude, dtype: float64)

## 3d Graph of Latitude, Longitude, Altitude

In [10]:
fig = px.line_3d(df, x="longitude", y="latitude", z="elevation")
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed