In [6]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("./data/test.csv", header=0)

In [2]:
df

    longitude  elevation
0     -80.120       85.5
1     -80.075      160.5
2     -80.030      254.5
3     -79.985      161.0
4     -79.940      140.0
..        ...        ...
95    -75.845      254.0
96    -75.800      264.0
97    -75.755      259.0
98    -75.710      232.0
99    -75.665      226.0

[100 rows x 2 columns]

In [5]:
df.describe()

        longitude    elevation
count  100.000000   100.000000
mean   -77.892500   996.995000
std      1.305517  1080.739229
min    -80.120000    85.500000
25%    -79.006250   256.375000
50%    -77.892500   339.000000
75%    -76.778750  1683.375000
max    -75.665000  4054.500000

In [4]:
df['elevation'].describe()

count     100.000000
mean      996.995000
std      1080.739229
min        85.500000
25%       256.375000
50%       339.000000
75%      1683.375000
max      4054.500000
Name: elevation, dtype: float64